<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="primary"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Update Status</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Category">
        <ion-select-option value="1">Appointment Set</ion-select-option>
        <ion-select-option value="2">Rescheduled</ion-select-option>
        <ion-select-option value="3">For follow-up</ion-select-option>
        <ion-select-option value="4">Close Won</ion-select-option>
        <ion-select-option value="5">Account assign</ion-select-option>
        <ion-select-option value="6">Account lost</ion-select-option>
        <ion-select-option value="7">No budget</ion-select-option>
        <ion-select-option value="8">No interest</ion-select-option>
        <ion-select-option value="9">Sent Proposal</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm" value="null"></ion-datetime>
      </ion-item>
    <ion-item>
      <ion-label position="floating">Note</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
        
        <ion-button>Save</ion-button>
      </ion-item>
  </ion-list>
</ion-content>
