.toolbar-color {
  --background: linear-gradient(to bottom, darkorange, rgb(255, 226, 145));
}

.add-target-button {
  --background: rgb(2, 153, 2);
  color: whitesmoke;
}

.right-placement {
  margin-left: 80vw;
}
