<div *ngIf="isFetching" text-center>
  <ion-spinner name="crescent"></ion-spinner>
</div>

<p *ngIf="!isFetching && status.length <= 0" text-center>No Status</p>

<ion-list *ngIf="!isFetching">
  <ion-item expand="block" *ngFor="let statusa of status">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ statusa.call_result }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Event Date: {{ statusa.txn_date }}</p>
        <p>Note: {{ statusa.notes }}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
