<ion-content>
  <ion-list>
    <ion-item expand="block" *ngFor="let status of statuses">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ status.category }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Event Date: {{ status.eventdate }}</p>
          <p>Date Updated: {{ status.dateupdated }}</p>
          <p>Note: {{ status.note }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  


  
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>


  
