<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let client of clients"
      [routerLink]="['/info', client.client]"
      style="--inner-padding-end:1px;--padding-start:10px;--inner-padding-start:0px;--padding-end:0px;"
    >
      <ion-avatar name="contact" slot="start" style="--border-radius: 5px">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      /></ion-avatar>
      <ion-card style="width:100%" slot="end">
        
        <ion-card-header>
          <ion-card-subtitle>
            {{ client.client }} | {{ client.position }}
          </ion-card-subtitle>
          <ion-card-title>
            {{ client.company }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
