<ion-header>
  <ion-toolbar>
    <ion-title>Leads</ion-title>
    <ion-button fill="clear" slot="end">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Jerson | Leader</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Jules | Programmer</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid> </ion-item
    ><ion-item>
      <ion-grid>
        <ion-row margin> UM OJT </ion-row>
        <ion-row margin> Karl | Programmer</ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
