<ion-list lines="inline">
    <ion-item lines="none">
      <ion-radio-group [(ngModel)]="radioInput">
          <ion-list-header>
              <ion-label>Search By:</ion-label>
            </ion-list-header>
          <ion-row>
              <ion-col>
                   <ion-item>
                      <ion-label>Name</ion-label>
                      <ion-radio mode="md" item-left value="name"></ion-radio>
                 </ion-item>
               </ion-col>
          
              <ion-col>
                  <ion-item>
                      <ion-label>Date</ion-label>
                      <ion-radio mode="md" item-left value="date"></ion-radio>
                 </ion-item>
              </ion-col>         
          </ion-row>
      </ion-radio-group>
    </ion-item>
  
  
  <ion-item *ngIf="radioInput=='name'">
        <ion-label position="floating">Search:</ion-label>
        <ion-input [(ngModel)]="searchInput"></ion-input>
      </ion-item>

  <ion-item detail="true" *ngIf="radioInput=='date'">
    <ion-label position="floating">Date from:</ion-label>
    <ion-datetime
      display-format="MMM DD, YYYY"
      value="null"
      [(ngModel)]="date1">
    </ion-datetime>
  </ion-item>

  <ion-item detail="true" *ngIf="radioInput=='date'">
      <ion-label position="floating">Date to:</ion-label>
      <ion-datetime
        display-format="MMM DD, YYYY"
        value="null"
        [(ngModel)]="date2"></ion-datetime>
    </ion-item>
<!-- <ion-item detail="true">
    <ion-select
    interface="popover"
    placeholder="Category"
    [(ngModel)]="categoryInput">
    <ion-select-option *ngFor="let cats of cat">
      {{ cats.category }}
    </ion-select-option>
  </ion-select>
</ion-item> -->
<ion-item>
  <ion-button size="default" expand="full" (click)="search()">
    <ion-label>Search</ion-label>
    <ion-icon name="search"></ion-icon>
  </ion-button>
</ion-item>
<ion-item>
  <ion-button size="default" expand="full" (click)="clearFields()">
    <ion-label>Clear</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-button>
</ion-item>
    <ion-item>
        <ion-button size="default" expand="full" (click)="close()">
          <ion-label>Close</ion-label>
          <ion-icon name="close-circle"></ion-icon></ion-button>
    </ion-item>
</ion-list>