<ion-list lines="inline">
  <ion-item>
    <ion-button (click)="searching()">
      <ion-label>
        Select search option
      </ion-label>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="searchOption == 'name'">
    <ion-label position="floating">Search:</ion-label>
    <ion-input [(ngModel)]="searchInput"></ion-input>
  </ion-item>

  <ion-item detail="true" *ngIf="searchOption == 'date'">
    <ion-label position="floating">Date from:</ion-label>
    <ion-datetime
      display-format="MMM DD, YYYY"
      value="null"
      [(ngModel)]="date1"
    >
    </ion-datetime>
  </ion-item>

  <ion-item detail="true" *ngIf="searchOption == 'date'">
    <ion-label position="floating">Date to:</ion-label>
    <ion-datetime
      display-format="MMM DD, YYYY"
      value="null"
      [(ngModel)]="date2"
    ></ion-datetime>
  </ion-item>

  <ion-item detail="true" *ngIf="searchOption == 'type'">
    <ion-select
      interface="popover"
      placeholder="Category"
      [(ngModel)]="categoryInput"
    >
      <ion-select-option *ngFor="let cats of cat">{{
        cats.category
      }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-button
      [disabled]="clearEnabled"
      size="default"
      expand="full"
      (click)="search()"
    >
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button
      [disabled]="clearEnabled"
      size="default"
      expand="full"
      (click)="clearFields()"
    >
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Clear</ion-label>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="danger" size="default" expand="full" (click)="close()">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Close</ion-label></ion-button
    >
  </ion-item>
</ion-list>
